{% extends 'base.html' %}

{% block title %}Añadir Tapas{% endblock %}


{% block body_block %}
{% if bar %}

                <form role="form"  id="page_form" method="post" action="/restaurante/bar/{{bar.slug}}/add_tapa/">
            <h2 class="form-signin-heading">Añadir una Tapa a <a href="/restaurante/bar/{{bar.slug}}/"> {{ bar.nombre }}</a></h2>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br/>
                        {{ field }}<br/>
                    {% endfor %}

                <br/>
            <button class="btn btn-primary" type="submit" name="submit">Añadir Tapa</button>
                </form>
            {%  else %}
            <p>Este bar no existe.</p>
        {%  endif %}


        {% endblock %}
