{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

        {% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">

                <h1>Bienvenido a la página de Restaurantes {{ user.username }}!</h1>
            {% else %}
                <h1>Bienvenido a la página de Restaurantes !</h1>
            {% endif %}
</div>


           <div class="panel panel-primary">
            <div class="panel-heading">
				<h1>{{ bar_name }}</h1>
    			    {% if bar %}
                    <h3 class="panel-title">Tapas</h3>
					{% if user.is_authenticated %}
					<h3 class="panel-title"><a href="/restaurante/bar/{{ bar.slug }}/add_tapa/"}">Anadir tapa</a></h3>
					{%endif%}
			  </div>
		   </div>

			<div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                {% if tapas %}
                    <ul class="list-group">
                        {% for tapa in tapas %}
                         <li class="list-group-item"><a href="{{tapa.url}}">{{ tapa.nombre }}</a>
						
						</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No hay tapas para mostrar.</strong>
                {% endif %}
		{% else %}
            <strong>The specified bar {{ bar_name }} does not exist!</strong>
        {% endif %}
            </div>

          </div>

<p> visitas: {{ bar_nume }}</p>

{% load easy_maps_tags %}

<!-- Default map with 300x400 dimensions -->
{% easy_map  bar_dire   300 400 %}


{% load easy_maps_tags cache %}

{% cache 600 my_map firm.address %}
    {% easy_map firm.address 300 400 %}
{% endcache %}





<!-- Variable address, custom detail level and custom template -->


       
        {% endblock %}
