<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Restaurante - {% block title %}Página de Restaurantes!{% endblock %}</title>
 <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>



    <!-- Custom styles for this template -->
    <!--<link href="./Dashboard Template for Bootstrap_files/dashboard.css" rel="stylesheet">-->
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    
  <!--  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">-->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script>



$(function () {

//CAMBIO DE TAMAÑO LETRAS
  // Reset Font Size
  var originalFontSize = $('body').css('font-size');
  $("#boton1").click(function(){
  $('body').css('font-size', originalFontSize);
  });
  // Increase Font Size
  $("#boton2").click(function(){
  	var currentFontSize = $('body').css('font-size');
 	var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*1.2;
	$('body').css('font-size', newFontSize);
	return false;
  });
  // Decrease Font Size
  $("#boton3").click(function(){
  	var currentFontSize = $('body').css('font-size');
 	var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*0.8;
	$('body').css('font-size', newFontSize);
	return false;
  });




//PEDIR DATOS LLAMADA AJAX

//DESERIALIZA
 $.ajax({
		url: "{% url 'reclama_datos' %}",
		type: 'get',                        
		success: function(datos) {
			Visualiza_datos (datos);  
		},
		failure: function(datos) { 
			alert('esto no vá');
		}
	});

 
	
	function Visualiza_datos (datos) {
		var bares=[];
		var vis=[];
		
		bares=datos['lista_bares'];
		vis=datos['V'];
		
		/*if (bares!= null){	
			console.log(bares);
			console.log(vis);
		}	*/
		 $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Popularidad de los Bares'
        },
        xAxis: {
            categories: bares
        },
        yAxis: {
            title: {
                text: 'Popularidad'
            }
        },
        series: [{
            name: 'Visitas',
            data: vis
        }],
    });
		
	};

console.log('aaa');

  
});

</script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/restaurante/">Restaurante</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
					
                        <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                        <!--<li><a href="{#% url 'auth_logout' %#}?next=/restaurante/">Logout</a></li>-->
						<li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'add_bar' %}">Add a New Bar</a></li>
						<!--<li><a href="{#% url 'add_tapa' %#}">Add a New Tapa</a></li>-->
                    {% else %}
                        <li><a href="{% url 'registro' %}">Register Here</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                                <li><a href="{% url 'about' %}">About</a></li>

              </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
                {% block side_block %}
					<button id="boton1" class="btn btn-default btn-xs">Tamaño Letra Normal</button>
					<button id="boton2" class="btn btn-default btn-xs">Aumentar Tamaño Letra</button>
					<button id="boton3" class="btn btn-default btn-xs">Disminuir Tamaño Letra</button>

				{% endblock %}

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           <div>
                {% block body_block %}{% endblock %}
                </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>



  </body>
</html>
